* {
  font-family: "Courier New", Courier, monospace;
}

.container h1 {
  margin-top: 150px;
  text-align: center;
}

/* HOME PAGE */
#home {
  text-align: center;
}

#home h3 {
  padding: 20px;
  margin-top: 5px;
}
.dropbtn {
  background-color: darkslategray;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  min-width: 400px;
}
.dropbtn:hover {
  background-color: rgb(74, 247, 189);
  color: black;
}
.dropdown {
  position: relative;
  display: inline-block;
  text-align: center;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 400px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: grey;
}

#popular {
  padding: 7pt;
}

#search {
  padding: 1rem;
}
.results h4,
#popular h3 {
  font-size: 24pt;
  font-weight: bold;
}

.results p,
#popular p {
  font-size: 14pt;
}

#searchLabel {
  font-size: 20pt;
}

#searchButton {
  margin-top: 5pt;
}
/***********************************************************/

/* LOGIN and SIGNUP PAGE  */

#login-page,
#signup-page {
  padding-top: 5rem;
  max-width: 500px;
}

#login-page p,
#signup-page p {
  font-size: 20px;
}

#login-page .btn,
#signup-page .btn {
  background-color: darkslategray;
  color: white;
}
label {
  font-weight: bold;
}

/***************************/

/* NAVBAR MAIN PAGE */
.nav-link {
  color: white;
  font-size: 20px;
}

.cartItem input {
  position: relative;
  width: 35px;
}
.cartItem label {
  position: right;
}
.nav-link:hover,
.nav-link:active {
  background-color: white;
  color: black;
}

nav {
  padding: 15px;
  background-color: #767676;
}

.navbar-nav > li {
  margin-left: 15px;
  margin-right: 15px;
}

/****************************/

/* ALL PAGE */

.all h2 {
  padding: 2rem;
}

.all ul {
  list-style: none;
}

.all h2 {
  text-align: center;
}

.products {
  text-align: center;
}

.products li {
  padding: 2rem;
}

.all img:hover {
  opacity: 0.5;
}

@media only screen and (max-width: 600px) {
  .all img {
    width: 90%;
    height: auto;
  }
}

/*********************/

/* PRODUCT PAGE */

#reviewform {
  margin-top: 0pt;
  margin-left: 5pt;
  padding: 2pt;
}

#reviewform button {
  margin-top: 5pt;
}

<<<<<<< HEAD
a {
  color: #0072ee;
=======
.row {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
>>>>>>> b8475490766d433ee99bc425d1b1348aa8ee2ebc
}
