<div id="home">

  <h3>Find Fun Things To Do While Traveling</h3>

  <!-- DROP DOWN MENU FOR ALL POSSIBLE DESTINATIONS -->
  <div class="allbutton">
    <button onclick="window.location.href='/all'" class="dropbtn">CHOOSE YOUR DESTINATION</button>
  </div>


  <!-- SECTION FOR MOST POPULAR ITEMS -->
  <div id="popular">
    <h3>MOST POPULAR ON OUR WEBSITE</h3>
  </div>


</div>

</div>