
<div id="home">

  <h3>Find Fun Things To Do While Traveling</h3>

  <!-- DROP DOWN MENU FOR ALL POSSIBLE DESTINATIONS -->
  <div class="dropdown">
  <button class="dropbtn">CHOOSE YOUR DESTINATION</button>
  <div class="dropdown-content">
    <a href="#">location 1</a>
    <a href="#">location 2</a>
    <a href="#">location 3</a>
    <a href="#">location 4</a>
    <a href="#">location 5</a>
  </div>
  </div>


  <!-- SECTION FOR MOST POPULAR ITEMS -->
  <div id="popular">
    <h3>MOST POPULAR ON OUR WEBSITE</h3>
  </div>


</div>
  
</div>